::-webkit-scrollbar{
  display: none;
}
.row-wrapper{
  position: relative;
  margin: 5px 0;
  padding: 0 5px;
  background-color: #000000;
  z-index: 100;
}
.row-wrapper .arrow{
  --side-rate: 10px;
  position: absolute;
  z-index: 12;
  top: 60%;
  cursor: pointer;
  font-size: clamp(20px, 3vw, 35px);
  background-color: rgba(0, 0, 0, 0.329);
  color: #fff;
  transition: 0.6s;
  opacity: 0;
}
.row-wrapper:hover .arrow{
  opacity: 1;
}
.row-wrapper .left-arrow{
  left: var(--side-rate);
}
.row-wrapper .right-arrow{
  right: var(--side-rate);
}
.title{
  position: relative;
  color: #fff;
  margin: 5px 0px 5px 5px;
  font-weight: 500;
  text-transform: capitalize;
  font-size: clamp(20px, 3vw, 24px);
  z-index: 100;
}
.row-container{
    position: relative;
    width: 100vw;
    height: auto;
    background-color: #000;
    display: flex;
    column-gap: 5px;
    align-items: center;
    overflow-x: scroll;
}
.cards{
  position: relative;
  width: var(--posterCardWidth);
  aspect-ratio: 2 / 3;
  border-radius: .3rem;
  overflow: hidden;
  flex-shrink: 0;
  background-color: rgb(82, 82, 82);
  animation: load 2s ease infinite;
}

@keyframes load{
50%{
  background-color: rgb(49, 49, 49);
}
100%{
  background-color: rgb(82, 82, 82);
}
}
