.studio{
    position: relative;
    width: var(--width);
    aspect-ratio: 15 / 7;
    overflow: hidden;
    /* background: radial-gradient(rgba(255, 255, 255, 0.945),rgba(82, 80, 80, 0.979)); */
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.studio img{
    height: 90%;
    width: 85%;
    object-fit: contain;
    /* mix-blend-mode: difference;
    filter: invert(1); */
}

